body, html {
    background-image: url(http://clipart-library.com/images/piqrk7gxT.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}