body, html {
    background-image: url(https://wallpaperaccess.com/full/425923.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.pacifico {
    font-family: 'Pacifico', cursive;
    font-size: 75 px;
}